<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-left>
        <ion-icon name="cash"></ion-icon>
        {{ this.userService.currentPlayer.currentMoney }} €
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button>
        # {{this.userService.currentPlayer.currentScore}}
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Offene Bestellungen
    </ion-list-header>
    <ion-item *ngFor="let item of this.userService.productQueue">
        <h2>{{item.ammount}} x {{item.type}}</h2>
        <progress max="100" [value]="item.currentProgress"></progress>
        <button (tap)="showDetails(item);" ion-button clear item-right>Details</button>
    </ion-item>
  </ion-list>
    <ion-list>
    <ion-list-header>
      Wartende Bestellungen
    </ion-list-header>
    <ion-item *ngFor="let item of this.userService.productsWaiting">
        <h2>{{item.ammount}} x {{item.type}}</h2>
        <button (tap)="showDetails(item);" ion-button clear item-right>Details</button>
    </ion-item>
  </ion-list>
    <ion-list>
        <ion-list-header>
            Erledigte Bestellungen
        </ion-list-header>
        <ion-item *ngFor="let item of this.userService.productsDone">
            <h2>{{item.ammount}} x {{item.type}}</h2>
            <button (tap)="showDetails(item);" ion-button clear item-right>Details</button>
        </ion-item>
    </ion-list>
</ion-content>
