questions-setup .card {
    padding: 20px;
}
questions-setup .card + .form-group .btn {
    margin: 20px;
}
questions-setup .card {
    background-color: #D1D1D1;
}

.btn-primary {
    margin-top: 20px;
}
.container {
    padding: 30px 30px 0px 30px;
    margin-bottom: 30px;
}
.questions-container {
    margin: 30px 0px;
}
.slide-preview {
    box-shadow: 2px 2px 7px #000;
        min-height: 30rem;
    width: 18rem;
    text-align: center;
}
.slide-preview h2 {
    margin-top: 5rem;
    display: inline-block;
}
.slide-preview p {
    word-wrap: break-word;
    padding: 20px;
}