<ion-header>
  <ion-navbar>
    <ion-title>
      Rehau Demo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<h1>Vielen Dank für Ihre Teilnahme</h1>
<ion-list>
  <ion-list-header>
    Teilnehmer:
  </ion-list-header>
<ion-item *ngFor="let scoreboardEntry of this.userService.scoreboardEntries">
    <h3>{{scoreboardEntry.name}}</h3>
    <p *ngIf="scoreboardEntry.score > 0">({{scoreboardEntry.score}})</p>
</ion-item>
</ion-list>
<button class="bottom-right-button" ion-button (tap)="reload();">Erneut</button>

</ion-content>